{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<!--  根据latest_question_list呈现不同年级的问题 -->
{% if latest_question_list %}
    <ul>
        <div id="login" class="animate form">
            <form action="{% url 'polls:vote3' %}" method="post">  <!-- 在这里这个url是将接下来这个行为传递给vote -->
                {% for question in latest_question_list %}
                    <li>{{ question.question_text3 }}</li>
                    {% csrf_token %}
                    {% for choice in question.gradethreechoice_set.all %}
                        <input type="radio" name="{{ question.id }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}" required>
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text3 }}</label><br />
                    {% endfor %}
                    <!-- <input type="submit" value="Voteceshi" /> -->
                {% endfor %}
                <div class="button">
                    <input type="submit" value="Vote" />
                </div>
            </form>
        </div>
    </ul>

{% else %}
    <p>No polls are available.</p>
{% endif %}
