#subscribe,
#login{
	position: absolute;
	top: 0px;
	width: 9cm;
	padding: 1cm 3cm 1cm 3cm;
	margin: 8% 30% 8% 30%;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:
		0pt 2px 5px rgba(105, 108, 109,  0.7),
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
}
#login{
	z-index: 22;
}

.button
{
    padding-bottom: 5px;
    text-align: center;

}